/* First Title's Styling */
h1 { 
    text-align: center;
    padding-bottom: 30px;

}

/* Website Background Color Styling */
body {
    background-color: rgb(240, 240, 240);
}

/* Horizontal Line Style Changes */
hr {
    color: gray; 
}
/* Main Content/ Section Encasing the Jumbotron Style Changes */
main {
background-color: white;
border-radius: 15px;
padding: 50px;
height: 500px;
}

/* Jumbotron's Style Changes */
.jumbotron {
    background-color: white;
    border-style: dashed;
    border-color: lightgray;
}

/* Paragraph Fent Style Changes */
.display-4 {
    font-size: 16px;
}

/* Generate Password Button's FONT Style Changes */
#mybtn {
    text-align: center;
}

/* Generate Password Button's Style Changes */
.btn {
    font-size: 30px;
    border-radius: 100px;
    padding: 10px 50px 10px 50px;
}